<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
	<add key="CohereApiKey" value=""/>
		<add key="ApiUrl" value="https://api.cohere.ai/v1/chat"/>
	</appSettings>
	
	<connectionStrings>
		<add name="LoginConnection"
			 connectionString="Server=localhost;Database=sistema_login;User ID=root;Password=;"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
		
		
		
	 
</configuration>
